<ion-modal-view>
  <ion-header-bar class="bar-modal">
    <span style="background-image:url({{feed.image}});background-size: cover;background-position:center; background-repeat: none;" class="feed-modal-img">
			<button class="button button-clear player-close" ng-click="closePlayerModal()"><i class="ion ion-ios-arrow-down player-close"></i></button>
		</span>
  </ion-header-bar>
  <ion-content class="feed-modal-split">
	  <ion-audio-track class="feed-modal-content">
		  <h4 class="feed-modal-title">{{feed.title | limitTo:34}}{{feed.title.length > 34 ? '..':''}}</h4>
		  <p class="feed-modal-subtitle">{{feed.source}}</p>
				
			<ion-audio-controls>
	  		<ion-audio-progress-bar display-time track="track">
	  		</ion-audio-progress-bar>
  			<!-- <span ng-if="dynamicTrack.duration">{{dynamicTrack.duration}}</span> -->

				<p class="feed-modal-author">Author: {{feed.author}}</p>
				<p class="feed-modal-narrator">Narrated by: {{feed.narrator}}</p>
				<a class="feed-modal-playbtn" ng-click="pausePlay(feed)">
					<i class="ion ion-ios-pause-outline" ng-if="isPlaying"></i>
					<i class="ion ion-ios-play-outline" ng-if="!isPlaying"></i>
				</a>
	  	</ion-audio-controls>

		</ion-audio-track>
  </ion-content>
</ion-modal-view>
