<ion-modal-view>
  <ion-header-bar class="bar-modal">
    <div style="background-image:url({{feed.image}});background-size: cover;background-position:center; background-repeat: none;" class="feed-modal-img">
		<button class="button button-clear player-close" ng-click="closePlayerModal()"><i class="ion ion-ios-arrow-left player-close"></i></button>
  </ion-header-bar>
  <ion-content class="feed-modal-split">
  </ion-content>

	  <div class="feed-modal-content">
		  <h4 class="feed-modal-title">{{feed.title | limitTo:32}}{{feed.title.length > 32 ? '..':''}}</h4>
		  <p class="feed-modal-subtitle">{{feed.source}}</p>
		  
			  <ion-audio-controls>
			  	<div class="item range slider-duration">
						<div class="item">
				  		<ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
				  	</div>	
					</div>
					<p class="feed-modal-author">Author: {{feed.author}}</p>
					<p class="feed-modal-narrator">Narrated by: {{feed.narrator}}</p>
					<a href class="feed-modal-playbtn">
						<i class="icon ion-ios-play-outline icon-play-circle"></i>
					</a>
			  </ion-audio-controls>
		</div>
</ion-modal-view>