<ion-view view-title="FEED">
  <ion-content>
    <ion-list>
	    <li class="item item-article" ng-repeat="article in articles" style="background-image:url({{article.image}}); background-size:cover; background-position:center">
			
			    <!-- <a class="item-thumbnail-left article-layer" href="#/app/playlists/{{article.id}}" > -->
			    <a class="item-thumbnail-left article-layer" >
				    <div class="article-ls">
				      <h2 class="article-title">{{article.title | limitTo:23}}{{article.title.length > 23 ? '..' : ''}}</h2>
							<p class="article-source">{{article.source}}</p>
						</div>	
					</a>
					<a class="play-article">
						<span ng-if="!playing" ng-click="play(article)"><i class="icon ion-ios-play-outline"></i></span>
						<span ng-if="playing" ng-click=""><i class="icon ion-ios-pause-outline"></i></span>
					</a>	
					<a class="add-article" ng-click="toggleLike({{article.id}})">
						<span ng-if="addLike"><i class="icon ion-ios-plus-outline"></i></span>
						<span ng-if="!addLike" style="color:#ccc"><i class="icon ion-ios-minus-outline"></i></span>
					</a>
	    </li>
    </ion-list>
  </ion-content>
	<div class="audio-player" ng-if="audioPlayer">
  	<div class="">
		  <button class="player-expand-arrow" ng-click="openPlayerLg({{feed}})"><i class="icon ion-ios-arrow-up"></i></button>
		  <!-- <div style="background-image:url({{feed.image}})" class="feed-avatar"><span class="feed-avatar-layer"></span></div> -->
		  <div class="feed-title">{{feed.title | limitTo:28}}{{feed.title.length >28?'..':''}}</div><br>
		  <div class="feed-source">{{feed.source}}</div>
		  <button class="pause-btn" ng-click="closePlayer()"><i class="icon ion-ios-pause"></i></button>
		</div>
  </div>
</ion-view>

