<ion-view view-title="FEED">
  <ion-content>
    <ion-list>
	    <ion-audio-track class="item item-article article-list-item" ng-repeat="article in articles | filter:categoryFilter" style="background-image:url({{article.image}}); background-size:cover; background-position:center" track="article">
	    	<ion-audio-controls>
			    <a class="item-thumbnail-left article-layer" >
				    <div class="article-ls">
				      <h2 class="article-title">{{article.title | limitTo:23}}{{article.title.length > 23 ? '..' : ''}}</h2>
							<p class="article-source">{{article.source}}</p>
						</div>	
					</a>
					<ion-spinner icon="lines"></ion-spinner>
					
					<!-- disabled click during track load -->
					<a ion-audio-play ng-click="playTrack(article, $index)" class="play-article">
					</a>	
				
					<!-- no user -->
					<a class="add-article" 
						 ng-show="!user">
						<i class="icon ion-ios-plus-outline" style="color:grey"></i>
					</a>

					<!-- user && has saved to playlist -->
					<a class="add-article" 
						 ng-show="user"
						 ng-click="addTrack(article, $index, user)">
						<span>
							<i class="icon ion-ios-plus-outline"></i>
						</span>
					</a>
										
				</ion-audio-controls>
	    </ion-audio-track>
    </ion-list>
  </ion-content>
	<div class="audio-player" ng-if="audioPlayer">
  	<div class="">
		  <button class="player-expand-arrow" ng-click="openPlayerLg({{feed}})"><i class="icon ion-ios-arrow-up"></i></button>
		  <div class="feed-title">{{feed.title | limitTo:28}}{{feed.title.length >28?'..':''}}</div><br>
		  <div class="feed-source">{{feed.source}}</div>
		  <button class="pause-btn" ng-click="stopPlayback()"><i class="icon ion-ios-pause"></i></button>
		</div>
  </div>
</ion-view>
