<ion-view view-title="FEED">
  <ion-content>
    <ion-list>
	    <li class="item item-article" ng-repeat="article in articles" style="background-image:url({{article.image}}); background-size:cover; background-position:center">
			
			    <a class="item-thumbnail-left article-layer" href="#/app/playlists/{{article.id}}" >
				    <div class="article-ls">
				      <h2 class="article-title">{{article.title | limitTo:23}}{{article.title.length > 23 ? '..' : ''}}</h2>
							<p class="article-source">{{article.source}}</p>
						</div>	
					</a>
					<a class="play-article">
						<span><i class="icon ion-ios-play-outline"></i></span>
					</a>	
					<a class="add-article" ng-click="toggleLike({{article.id}})">
						<span ng-if="addLike"><i class="icon ion-ios-plus-outline"></i></span>
						<span ng-if="!addLike" style="color:#ccc"><i class="icon ion-ios-minus-outline"></i></span>
					</a>
	    </li>
    </ion-list>
  </ion-content>
</ion-view>


