<ion-view view-title="POPULAR">
  <ion-content>
    <ion-list>
	    <ion-audio-track class="item item-article article-list-item" ng-repeat="track in articles | filter:{popular:true}" style="background-image:url({{track.image}}); background-size:cover; background-position:center" track="track">
	    	<ion-audio-controls>
			    <a class="item-thumbnail-left article-layer" >
				    <div class="article-ls">
				      <h2 class="article-title">{{track.title | limitTo:26}}{{track.title.length > 26 ? '..' : ''}}</h2>
							<p class="article-source">{{track.source}}</p>
						</div>	
					</a>

					<ion-spinner icon="ripple"></ion-spinner>
					<div class="overlay" ng-if="isLoading"></div>
					
					<a ng-click="playTrack(track, $index)" class="play-article" ion-audio-play >
					</a>
		
					<a ng-show="!user"
						 class="add-article">
						<i class="icon ion-ios-plus-outline" style="color:grey"></i>
					</a>

					<a ng-show="user"
						 class="add-article"
						 ng-click="addTrack(track, $index, user)">
						<span>
							<i class="icon ion-ios-plus-outline"></i>
						</span>
					</a>
										
				</ion-audio-controls>
	    </ion-audio-track>
    </ion-list>
  </ion-content>

	<div class="audio-player" ng-if="audioPlayer">
  	<div class="">
		  <button class="player-expand-arrow" ng-click="openPlayerLg({{feed}})"><i class="icon ion-ios-arrow-up"></i></button>
		  <div class="feed-title">{{feed.title | limitTo:30}}{{feed.title.length >30?'..':''}}</div><br>
		  <div class="feed-source">{{feed.source}}</div>
		  <a class="pause-btn" ng-click="stopPlayback()" ng-hid="isLoading"><i class="icon ion-ios-close-outline"></i></a>
			<a class="pause-btn" ng-show="isLoading" style="color:grey"><i class="icon ion-ios-close-outline"></i></a>
		</div>
  </div>
</ion-view>
