<ion-view view-title="TEST">
  <ion-content>
    <h1>TEST AREA</h1>
      <ion-audio-track track="myTrack">
      	<ion-audio-controls>
          <h2>{{track.title}}</h2>
          <p>{{track.artist}}</p>
          <button ion-audio-play style="width:100px;height:100px;display:block;position:relative;margin-left:100px;font-size: 90px;"></button>
          <ion-spinner icon="ios"></ion-spinner>
        </ion-audio-controls>
       
        <div class="item">
          <ion-audio-progress-bar track="myTrack" display-time></ion-audio-progress-bar>
        </div>
      </ion-audio-track>   
  </ion-content>
</ion-view>

